fastapi==0.135.2
uvicorn==0.42.0
uvloop==0.22.1
httptools==0.7.1
watchfiles==1.1.1
websockets==16.0
starlette==1.0.0
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
SQLAlchemy==2.0.48
psycopg2-binary==2.9.11
alembic==1.18.4
python-jose==3.5.0
argon2-cffi==25.1.0
email-validator==2.3.0
python-multipart==0.0.22
python-dotenv==1.2.2
httpx==0.28.1
weasyprint==62.3
pydyf==0.10.0
pypdf==6.9.2
reportlab==4.4.10
pillow==12.1.1
